################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Speech2Text/.vs/Speech2Text
/Speech2Text/Speech2Text/bin/
/Speech2Text/Speech2Text/obj
